<div class="ssg-item" data-cat="{{baseFilter}}" data-file="{{filename}}">
	<div class="ssg-item-header">
		<div class="ssg-item-title">{{title}}</div>
		<div class="ssg-item-description">{{description}}&nbsp;</div>
	</div>
	<div class="sample">{{{sample}}}</div>
	<pre class="ssg-item-code"><code class='language-markup'>{{sample}}</code></pre>
</div>